.half-15 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(15deg);
  -ms-transform: translate(-50%, -50%) rotate(15deg);
  transform: translate(-50%, -50%) rotate(15deg); }
